header {
    background-color: var(--primary-color);
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-brand a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .logo-image {
    height: 50px; /* Adjust the height as needed */
    width: auto;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  nav ul li {
    font-size: 1.6rem;
  }
  
  nav ul li a {
    color: var(--light-color);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: var(--secondary-color);
  }
  
  nav ul li a.active {
    border-bottom: 2px solid var(--secondary-color);
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav ul {
      flex-direction: column;
      gap: 1rem;
    }
  
    nav ul li a {
      font-size: 1.8rem;
    }
  }
  